.form-group {
	display: flex;
	/* sa vonc haskaca, tuyl e talis divi mej mi lini vra mnan urish diver*/
	align-items: center;
	/* sa vertical lablenry centra anum */
	margin-bottom: 10px;
	/* sa takic mi qic aranqa avelacnum */
}

.form-group label {
	width: 100px;
	display: inline-block;
	/* sa mi qich anhaskanalia, bayc amen depqum karevora*/
	margin-right: 10px;
	/* aj koxmic havasaracnuma */
}

#submitID {
	width: 200px;
}