.container {
   height: 150px;
   border: 1px solid black;
}

.element {
   height: 80px;
   width: 80px;
   background-color: red;
}

.container.relative .element {
   position: relative;
   left: 60px;
   bottom: 20px;
   z-index: 1;
}

.container.relative .sub-element {
   height: 40px;
   width: 40px;
   border: 1px solid black;
   position: relative;
   left: -20px;
}

.container.absolute + .container.absolute {
   position: relative;
}

.container.absolute .element {
   position: absolute;
   top: 10px;
   right: 5px;
   background-color: pink;
}

.container.fixed .element {
   position: fixed;
   background-color: rgb(19, 155, 192);
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   inset: 0;
   z-index: 1;
}

.container.sticky {
   overflow: hidden;
}

.container.sticky .element {
   position: sticky;
   background-color: rgb(33, 192, 19);
   /* top: 60px; */
   bottom: 60px;
}